body {
  margin:0px;
  background-color:rgba(13, 13, 13, 1);
  background-image:none;
  position:relative;
  left:-120px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:36px;
}
#u100 {
  position:absolute;
  left:350px;
  top:17px;
  width:1050px;
  height:36px;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u102 {
  position:absolute;
  left:120px;
  top:17px;
  width:180px;
  height:40px;
  font-family:'Narkisim';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#949494;
}
#u104 {
  position:absolute;
  left:120px;
  top:57px;
  width:87px;
  height:19px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#949494;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u106 {
  position:absolute;
  left:217px;
  top:57px;
  width:30px;
  height:24px;
}
#u107 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u108 {
  position:absolute;
  left:120px;
  top:97px;
  width:1280px;
  height:1px;
  text-align:right;
}
#u109 {
  position:absolute;
  left:2px;
  top:-17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u110 {
  position:absolute;
  left:400px;
  top:25px;
  width:36px;
  height:20px;
}
#u111 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  white-space:nowrap;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u112 {
  position:absolute;
  left:1076px;
  top:25px;
  width:64px;
  height:20px;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u114 {
  position:absolute;
  left:877px;
  top:25px;
  width:83px;
  height:20px;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u116 {
  position:absolute;
  left:550px;
  top:25px;
  width:47px;
  height:20px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  position:absolute;
  left:1250px;
  top:25px;
  width:68px;
  height:20px;
}
#u119 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  position:absolute;
  left:716px;
  top:25px;
  width:44px;
  height:20px;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:400px;
  top:63px;
  width:683px;
  height:20px;
}
#u122_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:689px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:25px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  color:#999999;
}
#u125 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u126 {
  position:absolute;
  left:143px;
  top:0px;
  width:130px;
  height:20px;
  color:#999999;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
}
#u128 {
  position:absolute;
  left:273px;
  top:0px;
  width:137px;
  height:20px;
  color:#999999;
}
#u129 {
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
}
#u130 {
  position:absolute;
  left:410px;
  top:0px;
  width:137px;
  height:20px;
  color:#999999;
}
#u131 {
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
}
#u132 {
  position:absolute;
  left:547px;
  top:0px;
  width:136px;
  height:20px;
  color:#999999;
}
#u133 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:42px;
}
#u134 {
  position:absolute;
  left:400px;
  top:308px;
  width:412px;
  height:42px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
  text-align:center;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  white-space:nowrap;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:270px;
}
#u136 {
  position:absolute;
  left:400px;
  top:360px;
  width:820px;
  height:270px;
}
#u137 {
  position:absolute;
  left:2px;
  top:105px;
  width:816px;
  word-wrap:break-word;
}
