body {
  margin:0px;
  background-color:rgba(13, 13, 13, 1);
  background-image:none;
  position:relative;
  left:-120px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:36px;
}
#u704 {
  position:absolute;
  left:350px;
  top:17px;
  width:1050px;
  height:36px;
}
#u705 {
  position:absolute;
  left:2px;
  top:10px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u706 {
  position:absolute;
  left:120px;
  top:17px;
  width:180px;
  height:40px;
  font-family:'Narkisim';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#949494;
}
#u708 {
  position:absolute;
  left:120px;
  top:57px;
  width:87px;
  height:19px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#949494;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u710 {
  position:absolute;
  left:217px;
  top:57px;
  width:30px;
  height:24px;
}
#u711 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u712 {
  position:absolute;
  left:120px;
  top:91px;
  width:1280px;
  height:1px;
  text-align:right;
}
#u713 {
  position:absolute;
  left:2px;
  top:-17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u714 {
  position:absolute;
  left:400px;
  top:25px;
  width:36px;
  height:20px;
}
#u715 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  white-space:nowrap;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u716 {
  position:absolute;
  left:1076px;
  top:25px;
  width:64px;
  height:20px;
}
#u717 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u718 {
  position:absolute;
  left:877px;
  top:25px;
  width:83px;
  height:20px;
}
#u719 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u720 {
  position:absolute;
  left:550px;
  top:25px;
  width:47px;
  height:20px;
}
#u721 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u722 {
  position:absolute;
  left:1250px;
  top:25px;
  width:68px;
  height:20px;
}
#u723 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u724 {
  position:absolute;
  left:716px;
  top:25px;
  width:44px;
  height:20px;
}
#u725 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u726 {
  position:absolute;
  left:400px;
  top:61px;
  width:850px;
  height:20px;
}
#u726_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:856px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:25px;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:20px;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:20px;
  color:#999999;
}
#u729 {
  position:absolute;
  left:2px;
  top:2px;
  width:292px;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:20px;
}
#u730 {
  position:absolute;
  left:296px;
  top:0px;
  width:270px;
  height:20px;
  color:#999999;
}
#u731 {
  position:absolute;
  left:2px;
  top:2px;
  width:266px;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:20px;
}
#u732 {
  position:absolute;
  left:566px;
  top:0px;
  width:284px;
  height:20px;
  color:#999999;
}
#u733 {
  position:absolute;
  left:2px;
  top:2px;
  width:280px;
  word-wrap:break-word;
}
