body {
  margin:0px;
  background-color:rgba(13, 13, 13, 1);
  background-image:none;
  position:relative;
  left:-120px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:36px;
}
#u344 {
  position:absolute;
  left:350px;
  top:17px;
  width:1050px;
  height:36px;
}
#u345 {
  position:absolute;
  left:2px;
  top:10px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u346 {
  position:absolute;
  left:120px;
  top:17px;
  width:180px;
  height:40px;
  font-family:'Narkisim';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u347 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#949494;
}
#u348 {
  position:absolute;
  left:120px;
  top:57px;
  width:87px;
  height:19px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#949494;
}
#u349 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u350 {
  position:absolute;
  left:217px;
  top:57px;
  width:30px;
  height:24px;
}
#u351 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u352 {
  position:absolute;
  left:120px;
  top:91px;
  width:1280px;
  height:1px;
  text-align:right;
}
#u353 {
  position:absolute;
  left:2px;
  top:-17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u354 {
  position:absolute;
  left:400px;
  top:25px;
  width:36px;
  height:20px;
}
#u355 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  white-space:nowrap;
}
#u356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u356 {
  position:absolute;
  left:1076px;
  top:25px;
  width:64px;
  height:20px;
}
#u357 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u358 {
  position:absolute;
  left:877px;
  top:25px;
  width:83px;
  height:20px;
}
#u359 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u360 {
  position:absolute;
  left:550px;
  top:25px;
  width:47px;
  height:20px;
}
#u361 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u362 {
  position:absolute;
  left:1250px;
  top:25px;
  width:68px;
  height:20px;
}
#u363 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u364 {
  position:absolute;
  left:716px;
  top:25px;
  width:44px;
  height:20px;
}
#u365 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u366 {
  position:absolute;
  left:400px;
  top:61px;
  width:850px;
  height:20px;
}
#u366_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:856px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u367 {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:25px;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:20px;
}
#u368 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:20px;
  color:#999999;
}
#u369 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  word-wrap:break-word;
}
#u370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:20px;
}
#u370 {
  position:absolute;
  left:222px;
  top:0px;
  width:203px;
  height:20px;
  color:#999999;
}
#u371 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
}
#u372 {
  position:absolute;
  left:425px;
  top:0px;
  width:213px;
  height:20px;
  color:#999999;
}
#u373 {
  position:absolute;
  left:2px;
  top:2px;
  width:209px;
  word-wrap:break-word;
}
#u374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:20px;
}
#u374 {
  position:absolute;
  left:638px;
  top:0px;
  width:212px;
  height:20px;
  color:#999999;
}
#u375 {
  position:absolute;
  left:2px;
  top:2px;
  width:208px;
  word-wrap:break-word;
}
