body {
  margin:0px;
  background-color:rgba(13, 13, 13, 1);
  background-image:none;
  position:relative;
  left:-120px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:36px;
}
#u274 {
  position:absolute;
  left:350px;
  top:17px;
  width:1050px;
  height:36px;
}
#u275 {
  position:absolute;
  left:2px;
  top:10px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u276 {
  position:absolute;
  left:120px;
  top:17px;
  width:180px;
  height:40px;
  font-family:'Narkisim';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#949494;
}
#u278 {
  position:absolute;
  left:120px;
  top:57px;
  width:87px;
  height:19px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#949494;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u280 {
  position:absolute;
  left:217px;
  top:57px;
  width:30px;
  height:24px;
}
#u281 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u282 {
  position:absolute;
  left:120px;
  top:97px;
  width:1280px;
  height:1px;
  text-align:right;
}
#u283 {
  position:absolute;
  left:2px;
  top:-17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u284 {
  position:absolute;
  left:400px;
  top:25px;
  width:36px;
  height:20px;
}
#u285 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  white-space:nowrap;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u286 {
  position:absolute;
  left:1076px;
  top:25px;
  width:64px;
  height:20px;
}
#u287 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u288 {
  position:absolute;
  left:877px;
  top:25px;
  width:83px;
  height:20px;
}
#u289 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u290 {
  position:absolute;
  left:550px;
  top:25px;
  width:47px;
  height:20px;
}
#u291 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u292 {
  position:absolute;
  left:1250px;
  top:25px;
  width:68px;
  height:20px;
}
#u293 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u294 {
  position:absolute;
  left:716px;
  top:25px;
  width:44px;
  height:20px;
}
#u295 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u296 {
  position:absolute;
  left:400px;
  top:63px;
  width:683px;
  height:20px;
}
#u296_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:689px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:25px;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  color:#999999;
}
#u299 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u300 {
  position:absolute;
  left:143px;
  top:0px;
  width:130px;
  height:20px;
  color:#999999;
}
#u301 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
}
#u302 {
  position:absolute;
  left:273px;
  top:0px;
  width:137px;
  height:20px;
  color:#999999;
}
#u303 {
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
}
#u304 {
  position:absolute;
  left:410px;
  top:0px;
  width:137px;
  height:20px;
  color:#999999;
}
#u305 {
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
}
#u306 {
  position:absolute;
  left:547px;
  top:0px;
  width:136px;
  height:20px;
  color:#999999;
}
#u307 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:42px;
}
#u308 {
  position:absolute;
  left:400px;
  top:278px;
  width:244px;
  height:42px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
  text-align:center;
}
#u309 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:480px;
}
#u310 {
  position:absolute;
  left:390px;
  top:330px;
  width:820px;
  height:480px;
  font-size:24px;
  color:#CCCCCC;
}
#u311 {
  position:absolute;
  left:2px;
  top:232px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u312 {
  position:absolute;
  left:450px;
  top:400px;
  width:60px;
  height:60px;
}
#u313 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u314 {
  position:absolute;
  left:509px;
  top:400px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u315 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u316 {
  position:absolute;
  left:450px;
  top:600px;
  width:60px;
  height:60px;
}
#u317 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u318 {
  position:absolute;
  left:509px;
  top:600px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u319 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u320 {
  position:absolute;
  left:450px;
  top:700px;
  width:60px;
  height:60px;
}
#u321 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u322 {
  position:absolute;
  left:509px;
  top:700px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u323 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u324 {
  position:absolute;
  left:877px;
  top:600px;
  width:60px;
  height:60px;
}
#u325 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u326 {
  position:absolute;
  left:936px;
  top:600px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u327 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u328 {
  position:absolute;
  left:877px;
  top:500px;
  width:60px;
  height:60px;
}
#u329 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u330 {
  position:absolute;
  left:936px;
  top:500px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u331 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u332 {
  position:absolute;
  left:877px;
  top:400px;
  width:60px;
  height:60px;
}
#u333 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u334 {
  position:absolute;
  left:937px;
  top:400px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u335 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u336 {
  position:absolute;
  left:450px;
  top:500px;
  width:60px;
  height:60px;
}
#u337 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u338 {
  position:absolute;
  left:509px;
  top:500px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u339 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u340 {
  position:absolute;
  left:877px;
  top:700px;
  width:60px;
  height:60px;
}
#u341 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u342 {
  position:absolute;
  left:936px;
  top:700px;
  width:240px;
  height:60px;
}
#u343 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
