body {
  margin:0px;
  background-color:rgba(13, 13, 13, 1);
  background-image:none;
  position:relative;
  left:-120px;
  width:1319px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:36px;
}
#u518 {
  position:absolute;
  left:350px;
  top:17px;
  width:1050px;
  height:36px;
}
#u519 {
  position:absolute;
  left:2px;
  top:10px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u520 {
  position:absolute;
  left:120px;
  top:17px;
  width:180px;
  height:40px;
  font-family:'Narkisim';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#949494;
}
#u522 {
  position:absolute;
  left:120px;
  top:57px;
  width:87px;
  height:19px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#949494;
}
#u523 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u524 {
  position:absolute;
  left:217px;
  top:57px;
  width:30px;
  height:24px;
}
#u525 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u526 {
  position:absolute;
  left:120px;
  top:91px;
  width:1280px;
  height:1px;
  text-align:right;
}
#u527 {
  position:absolute;
  left:2px;
  top:-17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u528 {
  position:absolute;
  left:400px;
  top:25px;
  width:36px;
  height:20px;
}
#u529 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  white-space:nowrap;
}
#u530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u530 {
  position:absolute;
  left:1076px;
  top:25px;
  width:64px;
  height:20px;
}
#u531 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u532 {
  position:absolute;
  left:877px;
  top:25px;
  width:83px;
  height:20px;
}
#u533 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u534 {
  position:absolute;
  left:550px;
  top:25px;
  width:47px;
  height:20px;
}
#u535 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u536 {
  position:absolute;
  left:1250px;
  top:25px;
  width:68px;
  height:20px;
}
#u537 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u538 {
  position:absolute;
  left:716px;
  top:25px;
  width:44px;
  height:20px;
}
#u539 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u540 {
  position:absolute;
  left:400px;
  top:61px;
  width:850px;
  height:20px;
}
#u540_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:856px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u541 {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:25px;
}
#u542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:20px;
}
#u542 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:20px;
  color:#999999;
}
#u543 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  word-wrap:break-word;
}
#u544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:20px;
}
#u544 {
  position:absolute;
  left:222px;
  top:0px;
  width:203px;
  height:20px;
  color:#999999;
}
#u545 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
}
#u546 {
  position:absolute;
  left:425px;
  top:0px;
  width:213px;
  height:20px;
  color:#999999;
}
#u547 {
  position:absolute;
  left:2px;
  top:2px;
  width:209px;
  word-wrap:break-word;
}
#u548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:20px;
}
#u548 {
  position:absolute;
  left:638px;
  top:0px;
  width:212px;
  height:20px;
  color:#999999;
}
#u549 {
  position:absolute;
  left:2px;
  top:2px;
  width:208px;
  word-wrap:break-word;
}
#u550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u550 {
  position:absolute;
  left:439px;
  top:269px;
  width:900px;
  height:40px;
}
#u551 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u552 {
  position:absolute;
  left:439px;
  top:439px;
  width:900px;
  height:40px;
}
#u553 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u554 {
  position:absolute;
  left:439px;
  top:349px;
  width:900px;
  height:40px;
}
#u555 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u556 {
  position:absolute;
  left:439px;
  top:519px;
  width:900px;
  height:40px;
}
#u557 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u558 {
  position:absolute;
  left:439px;
  top:619px;
  width:900px;
  height:40px;
}
#u559 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u560 {
  position:absolute;
  left:539px;
  top:689px;
  width:900px;
  height:40px;
}
#u561 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u562 {
  position:absolute;
  left:539px;
  top:769px;
  width:900px;
  height:40px;
}
#u563 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u564 {
  position:absolute;
  left:439px;
  top:849px;
  width:900px;
  height:40px;
}
#u565 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u566 {
  position:absolute;
  left:439px;
  top:929px;
  width:900px;
  height:40px;
}
#u567 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
