body {
  margin:0px;
  background-color:rgba(13, 13, 13, 1);
  background-image:none;
  position:relative;
  left:-120px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:36px;
}
#u138 {
  position:absolute;
  left:350px;
  top:17px;
  width:1050px;
  height:36px;
}
#u139 {
  position:absolute;
  left:2px;
  top:10px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u140 {
  position:absolute;
  left:120px;
  top:17px;
  width:180px;
  height:40px;
  font-family:'Narkisim';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#949494;
}
#u142 {
  position:absolute;
  left:120px;
  top:57px;
  width:87px;
  height:19px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
  color:#949494;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u144 {
  position:absolute;
  left:217px;
  top:57px;
  width:30px;
  height:24px;
}
#u145 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u146 {
  position:absolute;
  left:120px;
  top:97px;
  width:1280px;
  height:1px;
  text-align:right;
}
#u147 {
  position:absolute;
  left:2px;
  top:-17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u148 {
  position:absolute;
  left:400px;
  top:25px;
  width:36px;
  height:20px;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u150 {
  position:absolute;
  left:1076px;
  top:25px;
  width:64px;
  height:20px;
}
#u151 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u152 {
  position:absolute;
  left:877px;
  top:25px;
  width:83px;
  height:20px;
}
#u153 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u154 {
  position:absolute;
  left:550px;
  top:25px;
  width:47px;
  height:20px;
}
#u155 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  position:absolute;
  left:1250px;
  top:25px;
  width:68px;
  height:20px;
}
#u157 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  position:absolute;
  left:716px;
  top:25px;
  width:44px;
  height:20px;
}
#u159 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:400px;
  top:63px;
  width:683px;
  height:20px;
}
#u160_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:689px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:25px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
  color:#999999;
}
#u163 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u164 {
  position:absolute;
  left:143px;
  top:0px;
  width:130px;
  height:20px;
  color:#999999;
}
#u165 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
}
#u166 {
  position:absolute;
  left:273px;
  top:0px;
  width:137px;
  height:20px;
  color:#999999;
}
#u167 {
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
}
#u168 {
  position:absolute;
  left:410px;
  top:0px;
  width:137px;
  height:20px;
  color:#999999;
}
#u169 {
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
}
#u170 {
  position:absolute;
  left:547px;
  top:0px;
  width:136px;
  height:20px;
  color:#999999;
}
#u171 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:42px;
}
#u172 {
  position:absolute;
  left:405px;
  top:308px;
  width:359px;
  height:42px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
  text-align:center;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:740px;
}
#u174 {
  position:absolute;
  left:400px;
  top:360px;
  width:820px;
  height:740px;
  font-size:24px;
  color:#CCCCCC;
}
#u175 {
  position:absolute;
  left:2px;
  top:362px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u176 {
  position:absolute;
  left:450px;
  top:400px;
  width:60px;
  height:60px;
}
#u177 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u178 {
  position:absolute;
  left:509px;
  top:400px;
  width:240px;
  height:60px;
}
#u179 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u180 {
  position:absolute;
  left:450px;
  top:600px;
  width:60px;
  height:60px;
}
#u181 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u182 {
  position:absolute;
  left:509px;
  top:600px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u183 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u184 {
  position:absolute;
  left:450px;
  top:700px;
  width:60px;
  height:60px;
}
#u185 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u186 {
  position:absolute;
  left:509px;
  top:700px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u187 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u188 {
  position:absolute;
  left:877px;
  top:600px;
  width:60px;
  height:60px;
}
#u189 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u190 {
  position:absolute;
  left:936px;
  top:600px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u191 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u192 {
  position:absolute;
  left:877px;
  top:500px;
  width:60px;
  height:60px;
}
#u193 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u194 {
  position:absolute;
  left:936px;
  top:500px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u195 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u196 {
  position:absolute;
  left:877px;
  top:400px;
  width:60px;
  height:60px;
}
#u197 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u198 {
  position:absolute;
  left:937px;
  top:400px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u199 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u200 {
  position:absolute;
  left:450px;
  top:500px;
  width:60px;
  height:60px;
}
#u201 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u202 {
  position:absolute;
  left:509px;
  top:500px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u203 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u204 {
  position:absolute;
  left:450px;
  top:800px;
  width:60px;
  height:60px;
}
#u205 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u206 {
  position:absolute;
  left:509px;
  top:800px;
  width:240px;
  height:60px;
}
#u207 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u208 {
  position:absolute;
  left:877px;
  top:700px;
  width:60px;
  height:60px;
}
#u209 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u210 {
  position:absolute;
  left:936px;
  top:700px;
  width:240px;
  height:60px;
}
#u211 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u212 {
  position:absolute;
  left:877px;
  top:800px;
  width:60px;
  height:60px;
}
#u213 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u214 {
  position:absolute;
  left:936px;
  top:800px;
  width:240px;
  height:60px;
  font-size:20px;
  color:#CCCCCC;
}
#u215 {
  position:absolute;
  left:2px;
  top:18px;
  width:236px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u216 {
  position:absolute;
  left:450px;
  top:900px;
  width:60px;
  height:60px;
}
#u217 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u218 {
  position:absolute;
  left:509px;
  top:900px;
  width:240px;
  height:60px;
}
#u219 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u220 {
  position:absolute;
  left:450px;
  top:1000px;
  width:60px;
  height:60px;
}
#u221 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u222 {
  position:absolute;
  left:509px;
  top:1000px;
  width:240px;
  height:60px;
}
#u223 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u224 {
  position:absolute;
  left:877px;
  top:900px;
  width:60px;
  height:60px;
}
#u225 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u226 {
  position:absolute;
  left:936px;
  top:900px;
  width:240px;
  height:60px;
}
#u227 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u228 {
  position:absolute;
  left:877px;
  top:1000px;
  width:60px;
  height:60px;
}
#u229 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:61px;
}
#u230 {
  position:absolute;
  left:936px;
  top:1000px;
  width:240px;
  height:60px;
}
#u231 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
